{% extends 'main/main.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %} Iniciar Sesión OPTIC-TODO List {% endblock %}

{% block cssunsettled %}
  <link href="{% static 'public/css/signin.css' %}" rel="stylesheet">
  <link href="{% static 'public/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block bodybl %}
    <body class="text-center">
{% endblock %}

{% block menu %} {% endblock %}

{% block content %}
  <form id="login-form" class="form-signin" method="post" role="form">
    {% csrf_token %}
    <br>
    <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
    <label for="inputEmail" class="sr-only">Correo electronico</label>
    {{ form.username }} 
    
    <label for="inputPassword" class="sr-only">{{ form.password.label }}</label>
    {{ form.password }}
    <div class="errorus">{{ form.non_field_errors }}</div>
    <button class="btn btn-success" type="submit">Iniciar</button>
    <a class="btn btn-primary" href="{% url 'user:register' %}" role="button">Regístrate</a>
  </form>
{% endblock %}