{% load i18n %}
{% load public_extras %}


<div class="col-sm-4">
    <div class="card {% if pag.status_th %}border-success{% else %}border-danger{% endif %} mb-3" style="max-width: 18rem;">
        <div class="card-header">
            {% if pag.status_th %}
                Terminada el: {{ pag.dater_th|date:"d/m/Y" }}
            {% else %}
                Creada el: {{ pag.datec_th|date:"d/m/Y" }}
            {% endif %}
        </div>
        <div class="card-body {% if pag.status_th %}text-success{% else %}text-danger{% endif %}">
            <p class="card-text">
                {{ pag.name_th|cort:30 }}
            </p>
            <div class="text-center">
                <div class="icon_in">
                    <a><i class="fas fa-location-arrow" style="color: #737389;"></i></a>
                    <a><i class="fas fa-location-arrow" style="color: #737389;"></i></a>
                    <a><i class="fas fa-location-arrow" style="color: #737389;"></i></a>
                </div>
                {% comment %}
                <button class="btn btn-success" type="submit">Registrar</button>
                <a class="btn btn-primary" href="{% url 'user:login' %}" role="button">Iniciar Sesión</a>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>