{% extends 'main/main.html' %}
{% load i18n %}
{% load staticfiles %}
{% load public_extras %}

{% block cssunsettled %}
    <link href="{% static 'public/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="bodyin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <fieldset>
                            <legend class="text-center header">Crear Nueva Tarea Por Hacer.</legend>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <textarea class="form-control" id="cont_th" rows="3" placeholder="Ingresa tarea por hacer"></textarea>
                                    <div id="error_th" class="errorus"></div>
                                </div>
                                <div class="col">
                                    {% if request.user.is_authenticated %}
                                        <div class="btn btn-success sav_th">Guardar</div>
                                    {% else %}
                                        <div class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Guardar</div>
                                    {% endif %}  
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if request.user.is_authenticated %}
                        <br><br>
                        <div class="text-center">
                            <h1>To Do List</h1>
                        </div><br>
                        {% if total == 0 %}
                            <div class="alert alert-danger text-center" role="alert">
                                No Tiene To Do List.
                            </div>
                        {% else %}
                            <div id="misthi" class="row">
                                {% for pag in sear.paginator.query %}
                                    <div id="princ" class="col-sm-4 princ" data-pk='{{pag.id_th}}' data-cont='{{ pag.name_th }}' name='things' data-type="index">
                                        <div id="card_pr" class="card {% if pag.status_th %}border-success{% else %}border-danger{% endif %} mb-3" style="max-width: 18rem;">
                                            <div id="fech_th" class="card-header">
                                                <strong>
                                                    {% if pag.status_th %}
                                                        Terminada el: {{ pag.dater_th|date:"d/m/Y" }}
                                                    {% else %}
                                                        Creada el: {{ pag.datec_th|date:"d/m/Y" }}
                                                    {% endif %}
                                                </strong>
                                            </div>
                                            <div id="card_bd" class="card-body {% if pag.status_th %}text-success{% else %}text-danger{% endif %}">
                                                <p class="card-text">
                                                    {{ pag.name_th|cort:25 }}
                                                </p>
                                                <div class="text-center">
                                                    <div>
                                                        <a class="clicon editar_th" title="Editar"><i class="far fa-edit"></i></a>
                                                        {% if pag.status_th %}
                                                            <a class="point chang_stat" title="Terminada"><i class="far fa-check-square"></i></a>
                                                        {% else %}
                                                            <a class="point chang_stat" title="Pendiente"><i class="far fa-check-square"></i></a>
                                                        {% endif %}
                                                        <a class="clicon del_th" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                                                        <a class="clicon view_th" title="Ver"><i class="far fa-eye" ></i></a>
                                                        <div id="ver_thg" data-toggle="modal" data-target="#view_thsp"></div>
                                                        <div id="ed_thg" data-toggle="modal" data-target="#editthmo" data-whatever="@mdo"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="errorus"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if sear.paginator.num_pages > 1 %}
                            <nav aria-label="...">
                                <ul class="pagination justify-content-center">
                                    {% if sear.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for pgg in sear.paginator.paginator_simple %}
                                        {% if sear.number == pgg %}
                                            <li class="page-item active">
                                                <a class="page-link">{{ pgg }} <span class="sr-only">(current)</span></a>
                                            </li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ pgg }}">{{ pgg }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if sear.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ sear.paginator.num_pages }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    {% else %}
                        <br><br>
                        <div class="card text-center">
                            <div class="card-header">
                               <strong>OPTIC - To Do List</strong>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Para una mayor experiencia</h5>
                                <a class="btn btn-primary" href="{% url 'user:login' %}" role="button">Iniciar Sesión</a>
                                <a class="btn btn-primary" href="{% url 'user:register' %}" role="button">Resgistrar</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% if request.user.is_anonymous %}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel text-center"><strong>OPTIC - To Do List</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Para crear una tarea te invitamos a...
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <a class="btn btn-primary" href="{% url 'user:login' %}" role="button">Iniciar Sesión</a>
                            <a class="btn btn-primary" href="{% url 'user:register' %}" role="button">Resgistrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
    