{% load i18n %}
{% load staticfiles %}
{% load public_extras %}

<div id="div_tot">
    <strong id="tot_coun" >
        Total: {{ total }}
    </strong>
</div><br>
<div class="well well-sm">
    <ul class="list-group">
        {% for pag in sear.paginator.query %}
            <li id="princ" class="list-group-item d-flex justify-content-between align-items-center princ" name="things" data-pk="{{pag.id_th}}" data-type="list">
                <div>
                    {% if pag.status_th %}
                        <span id="stth" class="badge badge-success badge-pill">Completada</span>
                        <strong id="fecstat">{{ pag.dater_th|date:"d/m/Y" }}</strong>
                    {% else %}
                        <span id="stth" class="badge badge-danger badge-pill">Pendiente</span>
                        <strong id="fecstat">{{ pag.datec_th|date:"d/m/Y" }}</strong>
                    {% endif %}
                    <div id="conlisth">{{ pag.name_th|cort:120 }}</div>
                </div>
                <div>
                    <a class="clicon editar_th" title="Editar"><i class="far fa-edit"></i></a>
                    {% if pag.status_th %}
                        <span id="stpoi" class="badge badge-success badge-pill">
                            <a class="point chang_stat" title="Terminada">
                                <i class="far fa-check-square"></i>
                            </a>
                        </span>
                    {% else %}
                        <span id="stpoi" class="badge badge-danger badge-pill">
                            <a class="point chang_stat" title="Pendiente">
                                <i class="far fa-check-square"></i>
                            </a>
                        </span>
                    {% endif %}
                    <a class="clicon del_th" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                    <a class="clicon view_th" title="Ver"><i class="far fa-eye" ></i></a>
                    <div id="ver_thg" data-toggle="modal" data-target="#view_thsp"></div>
                    <div id="ed_thg" data-toggle="modal" data-target="#editthmo" data-whatever="@mdo"></div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% if sear.paginator.num_pages > 1 %}
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            {% if sear.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for pgg in sear.paginator.paginator_simple %}
                {% if sear.number == pgg %}
                    <li class="page-item active">
                        <a class="page-link">{{ pgg }} <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ pgg }}">{{ pgg }}</a></li>
                {% endif %}
            {% endfor %}
            {% if sear.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ sear.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

